body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:944px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:44px;
  width:926px;
  height:944px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:464px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:717px;
  width:903px;
  height:261px;
}
#u1775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u1776 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:62px;
  width:24px;
  height:29px;
}
#u1777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1778 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:68px;
  width:300px;
  height:15px;
}
#u1779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1780 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:115px;
  width:93px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  word-wrap:break-word;
}
#u1782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:115px;
  width:127px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u1784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:115px;
  width:93px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  word-wrap:break-word;
}
#u1786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:115px;
  width:88px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u1788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:115px;
  width:131px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  word-wrap:break-word;
}
#u1790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:196px;
  width:903px;
  height:62px;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:210px;
  width:72px;
  height:33px;
  color:#FFFFFF;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u1794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:210px;
  width:80px;
  height:33px;
  color:#FFFFFF;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u1796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:219px;
  width:41px;
  height:15px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u1798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:459px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:258px;
  width:903px;
  height:459px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:220px;
  width:65px;
  height:15px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:222px;
  width:65px;
  height:15px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:210px;
  width:132px;
  height:38px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:275px;
  width:264px;
  height:22px;
}
#u1807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#A1A1A1;
}
#u1807_input:disabled {
  color:grayText;
}
#u1808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:32px;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:669px;
  width:214px;
  height:32px;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:210px;
  width:132px;
  height:38px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:223px;
  width:65px;
  height:15px;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:218px;
  width:74px;
  height:22px;
}
#u1814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1814_input:disabled {
  color:grayText;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:215px;
  width:99px;
  height:25px;
}
#u1815_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:669px;
  width:68px;
  height:33px;
  color:#FFFFFF;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:64px;
  word-wrap:break-word;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:329px;
  width:100px;
  height:16px;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:385px;
  width:100px;
  height:16px;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1820_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:441px;
  width:100px;
  height:16px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:496px;
  width:100px;
  height:16px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:552px;
  width:100px;
  height:16px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:608px;
  width:100px;
  height:16px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:669px;
  width:68px;
  height:33px;
  color:#FFFFFF;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:64px;
  word-wrap:break-word;
}
#u1832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0000;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:730px;
  width:300px;
  height:5px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0000;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1834_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:906px;
  height:6px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:759px;
  width:903px;
  height:3px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:829px;
  width:28px;
  height:32px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:785px;
  width:100px;
  height:16px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:836px;
  width:100px;
  height:16px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:32px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:934px;
  width:214px;
  height:32px;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:40px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:988px;
  width:926px;
  height:40px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:984px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:44px;
  width:926px;
  height:984px;
  opacity:0.8;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:484px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:551px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:242px;
  width:670px;
  height:551px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:445px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:323px;
  width:498px;
  height:445px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:214px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:254px;
  width:31px;
  height:31px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:254px;
  width:69px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:260px;
  width:240px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u1860_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:661px;
  height:6px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:290px;
  width:658px;
  height:3px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:552px;
  width:327px;
  height:51px;
  font-size:18px;
  color:#1E1E1E;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u1864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:558px;
  width:231px;
  height:1px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
