body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:802px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:204px;
  width:517px;
  height:802px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:393px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:253px;
  width:517px;
  height:776px;
}
#u1267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:776px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:275px;
  width:0px;
  height:0px;
}
#u1268_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:162px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:194px;
  width:425px;
  height:162px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:267px;
  width:408px;
  height:82px;
  color:#6699CC;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:2px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:277px;
  width:104px;
  height:1px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
  line-height:20px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:415px;
  width:857px;
  height:186px;
  color:#6699CC;
  line-height:20px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  word-wrap:break-word;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:1021px;
  width:0px;
  height:0px;
}
#u1278_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u1278_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:45px;
  width:10px;
  height:8px;
}
#u1278_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:45px;
  width:8px;
  height:413px;
}
#u1278_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:450px;
  width:397px;
  height:8px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:414px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1021px;
  width:0px;
  height:0px;
}
#u1280_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:269px;
}
#u1280_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:261px;
  width:169px;
  height:8px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:207px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:81px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:795px;
  width:315px;
  height:81px;
  color:#6699CC;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:844px;
  width:0px;
  height:0px;
}
#u1285_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:1406px;
  top:837px;
  width:103px;
  height:15px;
  color:#6699CC;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:32px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:1313px;
  top:219px;
  width:304px;
  height:32px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:219px;
  width:21px;
  height:165px;
}
#u1292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:165px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:20px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:253px;
  width:22px;
  height:100px;
  font-size:10px;
  line-height:20px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:259px;
  width:10px;
  height:10px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:279px;
  width:10px;
  height:10px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:299px;
  width:10px;
  height:10px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:319px;
  width:10px;
  height:10px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:338px;
  width:10px;
  height:10px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:1673px;
  top:281px;
  width:91px;
  height:15px;
  color:#6699CC;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:1673px;
  top:289px;
  width:0px;
  height:0px;
}
#u1307_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:60px;
  height:8px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:1021px;
  width:0px;
  height:0px;
}
#u1309_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u1309_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:45px;
  width:10px;
  height:8px;
}
#u1309_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:45px;
  width:8px;
  height:601px;
}
#u1309_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:638px;
  width:397px;
  height:8px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:508px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:1021px;
  width:0px;
  height:0px;
}
#u1311_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u1311_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:45px;
  width:10px;
  height:8px;
}
#u1311_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:45px;
  width:8px;
  height:789px;
}
#u1311_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:826px;
  width:398px;
  height:8px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:603px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:741px;
  width:181px;
  height:22px;
}
#u1313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1313_input:disabled {
  color:grayText;
}
#u1314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:221px;
  width:391px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
#u1316_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:520px;
  height:6px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:250px;
  width:517px;
  height:3px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:260px;
  width:66px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u1320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:986px;
  width:86px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u1322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:986px;
  width:86px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:885px;
  width:181px;
  height:22px;
}
#u1324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1324_input:disabled {
  color:grayText;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:850px;
  width:181px;
  height:22px;
}
#u1325_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1325_input:disabled {
  color:grayText;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:351px;
  width:181px;
  height:22px;
}
#u1326_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1326_input:disabled {
  color:grayText;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:441px;
  width:181px;
  height:22px;
}
#u1327_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1327_input:disabled {
  color:grayText;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:216px;
  width:31px;
  height:31px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:558px;
  width:181px;
  height:25px;
}
#u1330_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:702px;
  width:181px;
  height:25px;
}
#u1331_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:776px;
  width:181px;
  height:25px;
}
#u1332_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:268px;
  width:181px;
  height:25px;
}
#u1333_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:525px;
  width:181px;
  height:23px;
}
#u1334_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1334_input:disabled {
  color:grayText;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:396px;
  width:181px;
  height:22px;
}
#u1335_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1335_input:disabled {
  color:grayText;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:594px;
  width:181px;
  height:23px;
}
#u1336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1336_input:disabled {
  color:grayText;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:740px;
  width:181px;
  height:23px;
}
#u1337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1337_input:disabled {
  color:grayText;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:923px;
  width:272px;
  height:53px;
}
#u1338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:631px;
  width:181px;
  height:23px;
}
#u1339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1339_input:disabled {
  color:grayText;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:667px;
  width:181px;
  height:23px;
}
#u1340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1340_input:disabled {
  color:grayText;
}
#u1341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1578px;
  width:300px;
  height:170px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:296px;
  word-wrap:break-word;
}
#u1343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1390px;
  width:300px;
  height:170px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1201px;
  width:300px;
  height:170px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:296px;
  word-wrap:break-word;
}
#u1347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:1433px;
  width:344px;
  height:82px;
  color:#6699CC;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:2px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:1473px;
  width:56px;
  height:1px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1653px;
  width:336px;
  height:22px;
  color:#6699CC;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:2px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1661px;
  width:56px;
  height:1px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:1207px;
  width:31px;
  height:31px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:1395px;
  width:31px;
  height:31px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:1585px;
  width:31px;
  height:31px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:1766px;
  width:300px;
  height:170px;
  color:#000000;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:296px;
  word-wrap:break-word;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:1768px;
  width:31px;
  height:31px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1840px;
  width:331px;
  height:40px;
  color:#6699CC;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:2px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1848px;
  width:56px;
  height:1px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1018px;
  width:300px;
  height:170px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:1024px;
  width:31px;
  height:31px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:1091px;
  width:336px;
  height:82px;
  color:#6699CC;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:2px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:1107px;
  width:56px;
  height:1px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:14px;
  width:300px;
  height:170px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:296px;
  word-wrap:break-word;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:20px;
  width:31px;
  height:31px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:1021px;
  width:0px;
  height:0px;
}
#u1384_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u1384_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:85px;
}
#u1384_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:78px;
  width:66px;
  height:8px;
}
#u1384_seg3 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg4 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg5 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg6 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg7 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg8 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg9 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg10 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg11 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg12 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg13 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg14 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg15 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg16 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg17 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg18 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg19 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg20 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg21 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg22 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg23 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg24 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg25 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg26 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg27 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg28 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg29 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg30 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg31 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg32 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg33 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:78px;
  width:9px;
  height:8px;
}
#u1384_seg34 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:78px;
  width:306px;
  height:8px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:481px;
  width:181px;
  height:23px;
}
#u1386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1386_input:disabled {
  color:grayText;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:308px;
  width:181px;
  height:22px;
}
#u1387_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1387_input:disabled {
  color:grayText;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:475px;
  width:300px;
  height:50px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:432px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:388px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:342px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:301px;
  width:100px;
  height:36px;
  line-height:36px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:261px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:595px;
  width:99px;
  height:36px;
  line-height:18px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:661px;
  width:300px;
  height:253px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:915px;
  width:97px;
  height:36px;
  line-height:36px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:877px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:14px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:847px;
  width:300px;
  height:29px;
  line-height:14px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:809px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:770px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:734px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:551px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:519px;
  width:99px;
  height:36px;
  line-height:36px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
  line-height:20px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:636px;
  width:864px;
  height:78px;
  color:#6699CC;
  line-height:20px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  word-wrap:break-word;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:216px;
  width:0px;
  height:0px;
}
#u1423_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-121px;
  width:8px;
  height:121px;
}
#u1423_seg1 {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-121px;
  width:130px;
  height:8px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-125px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:2px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:273px;
  width:224px;
  height:1px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:2px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:293px;
  width:224px;
  height:1px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:2px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:312px;
  width:224px;
  height:1px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:2px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:332px;
  width:224px;
  height:1px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:2px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:352px;
  width:224px;
  height:1px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:814px;
  width:181px;
  height:25px;
}
#u1435_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:986px;
  width:86px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u1438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
  line-height:18px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1031px;
  width:184px;
  height:36px;
  color:#6699CC;
  line-height:18px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u1440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1316px;
  width:86px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u1442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:133px;
  width:86px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
